html, body{
    margin: 0;
    height: 100%;
    letter-spacing: -0.05em;
}

#logo{
    margin: 0 0.1vw;
    filter: brightness(0) invert(1);
    display: none;
}

.pallino{
    display: inline-block;
    margin-left: auto;
    margin-top: 0.3em;
    margin-right: 0.3em;
    height: 1.3em;
}

.user{
    height: 80%;
    margin-right: 0.10em;
    filter: brightness(0) invert(1);
}

.menu{
    filter: brightness(0) invert(1);
    display: inline-block;
    margin-left: auto;
    margin-right: 0.3em;
    margin-top: 0.2em;
    height: 2em;
    cursor: pointer;
}

#navbar_mobile{
    display: none;
    min-height: 150px;
}

#navbar{
    background-color: steelblue;
    width: 100%;
    height: 5.5vh;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    position: fixed;
    font-size: 13px;
    font-family: Monaco, monospace;
    letter-spacing: 0;
    z-index: 1;
}

.left_nav{
    padding-left: 10%;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
}

.left_nav > span{
    text-align: center;
    align-items: center;
}

.extended_menu{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arrow_down{
    filter: brightness(0) invert(1);
    display: inline-block;
    margin-top: 0.1em;
    height: 0.7em;
    cursor: pointer;
}

.editions{
    flex:1;
    text-align: right;
    flex-basis: fit-content;
}

.right_nav{
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 0;
}

.right_nav > div{
    display: inline-flex;
    justify-content: right;
    min-width: 0;
}

.right_nav > span{
    justify-content: center;
    text-align: center;
    min-width: 0;
    align-items: center;
}

.join_us{
    border-radius: 6px;
    border: 1px solid white;
    background: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-align: center;
    max-height: 70%;
    flex: 1;
}

.join_us > span > a{
    color: steelblue;
}

.center_nav{
    max-width:20vw;
}

#weather{
    justify-content: center;
    min-height: 100%;
    display: flex;
    color: white;
    font-size: 110%;
}

#weather > span{
    text-align: center;
}

.w_city{
    margin-left: 0.2em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.05em;
}

.w_temp{
    font-size: 120%;
    margin-left: 0.1em;
    letter-spacing: -0.05em;
}

.w_img{
    height: 50%;
    display: block;
    margin-right: 0.1em;
    filter: brightness(0) invert(1);
}


.right_nav > div > span{
    text-align: center;
}

.right_nav a, .left_nav a {
    text-decoration: none;
    color: white;
}
#navbar div{
    margin: 0 1vw;
    height: 90%;
    align-items: center;
    flex: 1 1 0;
}

#navbar > div > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}

.sections_navbar{
    width: 36%;
    height: 100%;
    padding-top: 5.5vh;
    background: white;
    z-index: 2;
    transition: 0.5s;
    transform: translateX(-100%);
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    font-family: Monaco, monospace;
}

.lateral_container{
    overflow-y: scroll;
}

.sections_navbar.active{
    transform: translateX(0);
}

.section_title{
    display: inline-block;
    color: gray;
}

.sections_container{
    padding: 0.7em 0;
    display: flex;
    flex-flow: row wrap;
    row-gap: 0.7em;
}

.sections_container > span{
    width: 50%;
    text-align: center;
}

.sections_container > span > a{
    color: darkslateblue;
}

.lateral_element > span{
    color: darkslateblue;
}

.logo_lateral_navbar{
    height: 5.5vh;
    min-height: 40px;
    background-color: steelblue;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
}

.logo_lateral_navbar > img{
    width: 60%;
    display:block;
    margin:auto;
    filter: brightness(0) invert(1);
}

#close_lateral_navbar{
    width:4%;
    cursor: pointer;
}

.lateral_element{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 0.5px solid lightgrey;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}

.lateral_element > span{
    width: 70%;
}

.lateral_section input[type=text] {
    padding: 8.3px;
    font-size: 13px;
    border: 0.5px solid grey;
    width: 60%;
}

.lateral_section .search-container{
    margin-bottom: 1.4em;
    width: 100%;
}

.lateral_section{
    width: 92%;
    padding: 1.4em 4%;
    border-bottom: 0.5px solid lightgrey;
}

.lateral_section .search-container > form{
    display: flex;
    justify-content: center;
}

.lateral_section .search-container button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 18.5px;
    border: none;
    cursor: pointer;
}

.lateral_section .search-container button:hover {
    background: #ccc;
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {  /* Medium screen */
    #navbar{
        font-size: 11px;
    }
    .center_nav{
        max-width:18vw;
    }
    .w_img{
        height: 40%;
    }
    .user{
        height: 60%;
    }
    .sections_navbar{
        font-size: 83%;
    }
}

@media only screen and (min-height: 900px) { /*reduces height of weather and user login images*/
    .w_img{
        height: 30%;
    }
    .user{
        height: 50%;
    }
}

@media screen and (max-width: 768px) { /* Tablets */
    .center_nav{
        max-width:22vw;
    }

    .right_nav{
        padding-right: 0;
    }
    .left_nav{
        padding-left: 0;
    }
    #navbar{
        font-size: 10px;
    }
    .sections_navbar{
        font-size: 80%;
    }
}