a{
    text-decoration: none;
    color: black;
}

#overlay {
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    display: none;
    left:0;
    top: 0;
    width:100%;
    height:100%;
    z-index: 2;
}

.grid-container{
    padding: 5.5vh 0 0 0;
    margin: 0 12%;
    display: grid;
    grid-template-areas:
                         'corriere corriere corriere'
                         'adv adv adv'
                         'temi temi temi'
                         'corrieretv corrieretv corrieretv'
                         'news news news_adv'
                         'footer footer footer';
    /*gap: 10px;*/
    grid-template-rows: 0.10fr 0.10fr 0.05fr 0.20fr 8fr 0.25fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1vh;
}

#corriere_big_logo{
    padding-top: 5vh;
    padding-bottom: 5vh;
    grid-area: corriere;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#corriere_big_logo > img{
    width: 48%;
    display:block;
    margin:auto;
}

#corriere_big_logo > span{
    width: 48%;
    display:block;
    margin: 1em auto 0 auto;
    text-align: left;
    font-size: calc(7px + 0.3vw + 0.15vh);
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: darkgray;
}

.main_adv{
    grid-area: adv;
    display: flex;
    justify-content: center;
}

.main_adv > img{
    display:block;
    margin:auto;
    width: 100%;
}

.hot_themes{
    margin-top: 1.3em;
    grid-area: temi;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    border-bottom: 0.05em solid lightgrey;
    border-top: 0.05em solid lightgrey;
    font-family: Arial, sans-serif;
    min-height: 5vh;
}

.hot_themes > span{
    flex: 1;
    flex-basis: fit-content;
}

.hot_themes > span > a{
    color: deepskyblue;
}

.corriere-tv{
    grid-area:corrieretv;
    margin-top: 0.7em;
    padding-bottom: 1.4em;
    /*border-bottom: 0.05em solid lightgrey;*/
    height: max-content;
}

.corriere-tv > span{
    /*background-color: blue;*/
    height: 1em;
    font-family: Arial, sans-serif;
}

.corriere-tv > span > img{
    display: inline-block;
    margin-left: 1em;
    height: 1em;
    padding-top: 0.2em;
}

.video-container{
    display: flex;
    flex-flow: row wrap;
    margin-top: 0.5em;
    align-items: center;
}

.video-box{
    margin: 0 0.5em;
    flex:1;
    height: 70%;
    min-width: 5vw;
    display: flex;
    overflow: hidden;
}

.video-box > a{
    margin: 0 0 0 0.5em;
    text-align:left;
    font-size: calc(10px + 0.3vh + 0.2vw);
    /*word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;*/
}
.video-box > img{
    float: left;
    max-height: 100%;
    object-fit: contain;
    max-width: 50%;
    display: block;
    cursor: pointer;
}

.news{
    height: max-content;
    grid-area: news;
    border-right: 0.05em solid lightgrey;
    border-bottom: 0.05em solid lightgrey;
}

.a_macro{
    color: grey;
    font-size: 80%;
    font-family: Arial, sans-serif;
}

.a_macro-img{
    top: 0;
}

.a_macro-img > img{
    display:block;
    width: 5em;
    object-fit: contain;
}

.a_author{
    color: deepskyblue;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 80%;
}

.a_title{
    font-size: 250%;
    margin: 0.1em 0 0 0;
}

.a_description{

}

article{
    padding-top: 0.7em;
    margin: 0 0.7em 0.7em 0;
    border-top: 0.05em solid lightgrey;
    /*border-bottom: 0.05em solid lightgrey;*/
    display: inline-block;
}

article > img{
    cursor: pointer;
    width: 100%;
}

.side_article{
    margin-right: 0;
}

.side_article > .a_macro{
    font-size: 70%;
}

.side_article > .a_author{
    font-size: 70%;
}

.side_article > img{
    margin-top: 0.7em;
}

.fixed_adv_container{
    height: 30%;
}

#fixed_adv{
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
}

.adv > img{
    display:block;
    margin:auto;
    width: 100%;
    cursor: pointer;
}

.adv{
    padding-top: 0.7em;
    margin: 0 0 0.7em 0;
    top: 5.5vh;
}

.double_article{
    margin: 0 0.7em 0.7em 0;
    padding-top: 1.4em;
    border-top: 0.05em solid lightgrey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - 0.7em);
}

.complex_article{
    height: 100%;
}

.small_article_dx{
    flex: 1;
    border-top: 0;
    padding-left: 2%;
    border-left: 0.05em solid lightgrey;
    width: 48%;
}

.small_article_sx{
    flex: 1;
    border-top: 0;
    width: 48%;
}

.small_article_dx > img, .small_article_sx > img{
}

.complex_article > img{
    float: left;
    height: 100%;
    width: 44%;
    padding-right: 0.7em;
    padding-bottom: 0.7em;
}

.complex_article h1{
    margin: 0.1em 0 0 0;
}

.side_adv{
    grid-area: news_adv;
    justify-content: center;
    border-right: 0.05em solid lightgrey;
    padding-right: 0.45em;
    border-bottom: 0.05em solid lightgrey;
}

.corriere-tv-side{
   background-color: steelblue;
}

.corriere-tv-side > img{
    width: 40%;
    margin: auto;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    display: block;
}

.line {
    border-top: 0.05em solid lightgrey;
    margin: 0 0 0.15em 0;
}

.economy_container{
    margin: 0 0.7em 0.7em 0;
    background-color: powderblue;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.vinitaly_container{
    margin: 0 0.7em 0.7em 0;
    background-color: aliceblue;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.economy_logo, .vinitaly_logo{
    background: url("/img/shadow-top.png") center bottom / contain no-repeat;
}

.economy_logo > img{
    width: 23%;
    margin: auto;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    display: block;
    cursor: pointer;
}

.vinitaly_logo > img{
    width: 20%;
    margin: auto;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    display: block;
    cursor: pointer;
}

#footer{
    display: grid;
    grid-template-areas: 'main side';
    grid-template-columns: 3fr 1fr;
    margin-top: 0.7em;
    grid-area: footer;
    width: 100%;
    align-items: end;
}

.footer_main{
    grid-area: main;
    padding-right: 0.7em;
    height: max-content;
    bottom: 0;
}

.footer_main > span, .footer_main > div > span, .footer_side > span{
    font-size: 80%;
    border-right: 0.1em solid gray;
    padding-right: 0.35em;
}

.footer_side{
    padding-top: 4.6vh;
    grid-area: side;
    text-align: right;
}

.footer_logo{
    display: block;
    width: 25%;
    padding-bottom: 0.7em;
}

#footer_mobile{
    display: none;
    grid-template-areas: 'main'
                         'chisiamo'
                         'bottom';
    grid-template-rows: 3fr 1.5fr 1fr;
    margin-top: 0.7em;
    grid-area: footer;
    width: 100%;
    font-family: Arial, sans-serif;
    letter-spacing: 0;
}

.footer_menu_mobile > span{
    font-size: 80%;
    border-right: 0.1em solid gray;
    padding-right: 0.35em;
}

.footer_menu_mobile{
    grid-area: main;
    height: max-content;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 0.35em;
    background-color: lightgrey;
}

.footer_menu_mobile > div{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0.35em 0;
}

#mobile_cookies{
    justify-content: center;
}

.footer_menu_mobile > div > span, .chi_siamo_footer > span{
    width: 30%;
    text-align: center;
}

.footer_menu_mobile > span > a{
   color: gray;
}

.footer_menu_mobile > div > span > a{
    color: dodgerblue;
    font-size: 90%;
}


.main_footer { /*mobile*/
    grid-area: main;
    height: max-content;
}

.chi_siamo_footer{ /*mobile*/
    grid-area: chisiamo;
    display: flex;
    justify-content: space-around;
    padding: 0 2%;
    font-size: 90%;
    font-weight: bold;
}

.chi_siamo_footer > span > a, .bottom_footer > span > a{
    color: gray;
}

.bottom_footer{ /*mobile*/
    grid-area: bottom;
    display: flex;
    justify-content: space-around;
    padding: 0 2%;
    border-top: 0.1em solid lightgrey;
    font-size: 85%;
}

.chi_siamo_footer > span, .bottom_footer > span{
    margin: auto;
}

.logo_footer_mobile{
    width: 35%;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) { /* Medium screen */
    .footer_logo{
        width: 30%;
    }

    .sections_navbar{
        width: 40%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) { /* Tablets */
    .grid-container{
        margin: 0 2%;
        grid-template-rows: 0.10fr 0.10fr 0.05fr 0.20fr 7fr 0.30fr;
    }
    .footer_logo{
        width: 30%;
    }

    .sections_navbar{
        width: 48%;
    }

    .a_title{
        font-size: 170%;
        margin: 0.1em 0 0 0;
    }
    article > h1{
        font-size: 115%;
    }
    .side_article > h3{
        font-size: 105%;
    }
    .grid-container{
        font-size: 80%;
    }
    .corriere-tv > span{
        font-size: 80%;
    }
}

@media only screen and (max-width: 600px){ /* Mobile */
    .grid-container{
        margin: 0;
        grid-template-areas:
                'mobile_adv'
                'mobile_nav'
                'main'
                'main_adv'
                'footer';
        grid-template-rows: 0.30fr 0.50fr auto auto auto;
        grid-template-columns: 100%;
        column-gap: 0;
        padding-top: 0;
    }

    .sections_navbar{
        padding-top: 10.5vh;
    }

    .side_adv{
        height: max-content;
    }

    .main_adv{
        grid-area: mobile_adv;
    }

    .hot_themes{
        display: none;
    }
    .news{
        grid-area: main;
        border-right: 0;
        border-bottom: 0;
        margin: 0 2%;
    }

    #navbar{
        display: none;
    }
    #corriere_big_logo{
        display: none;
    }

    .corriere-tv{
        display: none;
    }

    .side_adv{
        grid-area: main_adv;
        border-right: 0;
        padding-right: 0;
        margin: 0 2%;
    }

    #footer{
        grid-area: footer;
    }

    .footer_logo{
        width: 30%;
    }

    .economy_logo > img{
        width: 28%;
    }

    .a_macro-img > img{
        width: 3.5em;
    }
    .a_title{
        font-size: 175%;
        margin: 0.1em 0 0 0;
    }
    article > h1{
        font-size: 120%;
    }
    .side_article > h3{
        font-size: 110%;
    }
    .grid-container{
        font-size: 85%;
    }

    .double_article{
        display: block;
        padding-top: 0;
        margin: 0;
        width: 100%;
    }

    .small_article_dx, .small_article_sx{
        border-top: 0.05em solid lightgrey;
        border-left: 0;
        padding-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .double_article{
        border-top: 0;
        padding-right: 0;
        margin: 0;
    }
    .fixed_adv_container{
        height: max-content;
    }
    #fixed_adv{
        position: static;
    }
    article{
        margin-right: 0;
        width: 100%;
    }
    a.a_macro{
        font-size: 70%;
    }
    #navbar_mobile{
        display: block;
        grid-area: mobile_nav;
        background-color: steelblue;
        width: 100%;
        font-family: Monaco, monospace;
        letter-spacing: 0;
    }

    .vinitaly_logo > img{
        width: 25%;
    }

    .economy_container, .vinitaly_container{
        margin-right: 0;
    }
    .navbar_mobile_upper{
        display: grid;
        grid-template-areas: 'joinus login';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: 30%;
        border-bottom: 0.15em solid white;
    }

    #navbar_mobile_bottom{
        height: 25%;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        overflow: auto;
    }

    #navbar_mobile_bottom > span{
        margin: 0 3%;
    }

    #navbar_mobile_bottom > span > a{
        color: white;
    }

    #navbar_mobile_center{
        height: 45%;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: steelblue;
    }

    .sections_navbar{
        width: 100%;
        opacity: 100%;
    }

    .logo_lateral_navbar{
        height: 10vh;
    }

    .logo_lateral_navbar > img{
        width: 55%;
    }

    .mobile_menu{
        filter: brightness(0) invert(1);
        display: inline-block;
        margin-left: 1.5vw;
        height: 2em;
        cursor: pointer;
    }

    #navbar_mobile_center > span{
        display: block;
        width: 10%;
    }

    #navbar_mobile_center > div{
        flex: 1;
        margin-left: -10%;
    }

    .join_us_mobile{
        grid-area: joinus;
        border-radius: 6px;
        border: 1px solid white;
        background: white;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        text-align: center;
        margin: 1.5vw;
        max-height: 70%;
        width: 60%;
        justify-content: center;
    }

    .login_mobile{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: end;
    }

    .login_mobile > span{
        justify-content: center;
        margin-right: 1.5vw;
        font-size: 115%;
    }

    .login_mobile > span > a{
        color: white;
    }

    .mobile_logo{
        width: 40vw;
        min-width: 135px;
        display:block;
        filter: brightness(0) invert(1);
        margin: auto;
    }

    .last_update_mobile{
        display: block;
        margin: 0.3em auto auto auto;
        text-align: center;
        color: white;
        font-size: 75%;
    }

    .navbar_mobile_center > div{

    }

    #footer{
        display: none;
    }

    #footer_mobile{
        display: grid;
    }
}

@media only screen and (max-width: 335px){ /*minimum page width*/
    html, body{
        min-width: 335px;
        overflow: auto;
    }
}